@tailwind base;
@tailwind components;
@tailwind utilities;

/* Global app styling */
:root {
  color-scheme: dark;
}

body {
  background: linear-gradient(180deg, #e9ecf2 0%, #d7dbe2 100%);
  color: #071e54;
}

#root {
  @apply min-h-screen;
}
